@mixin mobile {
	@media only screen and (max-width:43.75em) {
		@content;
	}
}

@mixin tablet {
	@media onyl screen and (max-width:45em) {
		@content;
	}
}


@mixin desktop {
	@media onyl screen and (max-width:55em) {
		@content;
	}
}

@mixin transition ($args...) {
	 -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform ($args...) {
	 -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
    @include transition(all .5s ease-in-out 0s);
}


@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}



@mixin standard-button ($args) {
	padding: 10px 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: $args;
	color: #fff;
	@include transition(all .5s ease 0s);
	
	&:hover {
		background: $args - 20;
		color: #fff;
	}
}